body {background-color:#800080;}
	background-image: https://orange-object.github.io/dude/index.html;

}

        a{color:#3383ff}
	a: hover{color:#009dff}

<div class="mustard">
<div style="background-color:lightgrey; width:500px; border:10px solid green; padding:20px; margin-right: 0cm;">
<img .left https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Yellowstone-black-bear-07895.jpg/500px-Yellowstone-black-bear-07895.jpg></div>
<div style="background-color:lightgrey; width:500px; border:10px solid green; padding:20px; margin-left: 0cm;">
<img .right http://www.corbinstreehouse.com/blog/wp-content/uploads/2009/12/IMG_64411.jpg>
<img .pie https://orange-object.github.io/dude/index.html
</div>
span class="this"


body {background-color:#800080;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDB813;
}

l {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDB813;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

al {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A9A9A9;
}


ll {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A9A9A9;
}

ll {
    float: left;
}

ll a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ll a:hover {
    background-color: #111111;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
